<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.example.isaimrafael.kardexv11.HorarioReal_maestro"
            android:label="@string/title_activity_horario_real_maestro"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.isaimrafael.kardexv11.HorarioMaestro">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.isaimrafael.kardexv11.HorarioMaestro" />
        </activity>
    </application>
</manifest>
